@charset "UTF-8";

html {
  /* 組み方向 */
  writing-mode: vertical-rl;

  orphans: 1;
  widows: 1;
}

* {
  margin: 0;
  padding: 0;
}

/* タイトル文字列セット */
.title {
  string-set: title content();
}

@page {
  size: $paper-width $paper-height;
  // 行送り * 行数
  width: $content-width;
  // フォントサイズ * 文字数
  height: $content-height;
  // margin: auto;
  margin-top: $ten;
  margin-bottom: $chi;
  marks: $marks;
}

@page :left {

  margin-right: $nodo;
  margin-left: $koguchi;

  @top-left {
    /* 左上ノンブル、柱（タイトル文字列） */
    content: counter(page) "　　" env(pub-title);
    font-size: 5.5pt;
    vertical-align: top;
    margin-left: 3.75pt;
    margin-top: 6mm;
    writing-mode: horizontal-tb;
  }

  @right-middle {
    /* 隠しノンブル */
    font-size: 4pt;
    margin-right: -3mm !important;
    text-align: start !important;
    content: counter(page);
  }
}

@page :right {

  margin-left: $nodo;
  margin-right: $koguchi;

  @top-right {
    /* 右上ノンブル、柱（出版物タイトル文字列） */
    content: env(doc-title) "　　" counter(page);
    font-size: 5.5pt;
    vertical-align: top;
    margin-right: 3.75pt;
    margin-top: 6mm;
    writing-mode: horizontal-tb;
  }

  @left-middle {
    /* 隠しノンブル */
    font-size: 4pt;
    margin-left: -3mm !important;
    align-items: end !important;
    content: counter(page);
  }
}

/* 表紙ページ */
.cover {
  page: cover;
}

@page cover {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
}

/* 目次ページ */
.toc {
  page: toc;
}

@page toc {
  @top-left {
    content: none;
  }
  @top-right {
    content: none;
  }
}

@media print {
  .cover {
    content: none;
  }
}
